<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="lint,job,specs,recruiter">
	<meta name="author" content="Traveling Tech Guy">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<style>
		body {
			padding-top:70px; 
			padding-bottom: 110px;
		}
	</style>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/javascripts/vendors/html5shiv.js"></script>
	<script src="/javascripts/vendors/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- navbar -->
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<a href="#" class="navbar-brand"><%= title %></a>
			<p class="navbar-text">How good is that job offer?</p>
		</div>
	</div>
	<!-- /navbar -->
	<div id="container">
		<!-- form -->
		<div class="row">
			<div class="col-lg-offset-2 col-lg-6">
				<form role="form">
					<div class="form-group">
						<label for="spec" class="control-label">Paste the job description:</label>
						<textarea class="form-control" rows="10" name="spec"></textarea>
					</div>
					<span class="pull-right">
						<button class="btn btn-sm btn-default" id="clearForm">Clear</button>
						<button class="btn btn-sm btn-primary" id="submitForm">Submit</button>
					</span>
				</form>
			</div>
		</div>
		<!-- /form -->

		<!-- results -->
		<div id="results" class="hide">
			<div class="row">
				<div class="col-lg-offset-2 col-lg-6">
					<hr></div>
			</div>
			<div class="row">
				<div class="col-lg-offset-2 col-lg-7">
					<div class="col-lg-2"> <strong>Culture Issues</strong>
					</div>
					<div class="col-lg-3">
						<div class="progress">
							<div class="progress-bar" data-bind="{style: { width: culturePercent }, attr: { 'aria-valuenow': culturePercent }}" role="progressbar" aria-valuemin="0" aria-valuemax="100">
								<span class="sr-only" data-bind="text: culturePercent"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-1">
						(<span data-bind="text: culture"></span>)
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-offset-2 col-lg-7">
					<div class="col-lg-2"> <strong>Realism Issues</strong>
					</div>
					<div class="col-lg-3">
						<div class="progress">
							<div class="progress-bar" data-bind="{style: { width: realismPercent }, attr: { 'aria-valuenow': realismPercent }}" role="progressbar" aria-valuemin="0" aria-valuemax="100">
								<span class="sr-only" data-bind="text: realismPercent"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-1">
						(<span data-bind="text: realism"></span>)
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-offset-2 col-lg-7">
					<div class="col-lg-2">
						<strong>Recruiter Issues</strong>
					</div>
					<div class="col-lg-3">
						<div class="progress">
							<div class="progress-bar" data-bind="{style: { width: recruiterPercent }, attr: { 'aria-valuenow': recruiterPercent }}" role="progressbar" aria-valuemin="0" aria-valuemax="100">
								<span class="sr-only" data-bind="text: recruiterPercent"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-1">
						(<span data-bind="text: recruiter"></span>)
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-offset-2 col-lg-7">
					<div class="col-lg-2">
						<strong>Tech Issues</strong>
					</div>
					<div class="col-lg-3">
						<div class="progress">
							<div class="progress-bar" data-bind="{style: { width: techPercent }, attr: { 'aria-valuenow': techPercent }}" role="progressbar" aria-valuemin="0" aria-valuemax="100">
								<span class="sr-only" data-bind="text: techPercent"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-1">
						(<span data-bind="text: tech"></span>)
					</div>
				</div>
			</div>
			<div class="row" data-bind="visible: errors().length > 0">
				<div class="col-lg-offset-2 col-lg-7">
					<div class="col-lg-2">
						<strong>Errors</strong>
					</div>
					<div class="col-lg-8 text-danger">
						<ul data-bind="foreach: errors">
							<li>
								<span data-bind="text: message"></span>
								<br>
								<span data-bind="text: detail" class="text-muted"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row" data-bind="visible: warnings().length > 0">
				<div class="col-lg-offset-2 col-lg-7">
					<div class="col-lg-2">
						<strong>Warnings</strong>
					</div>
					<div class="col-lg-8 text-warning">
						<ul data-bind="foreach: warnings">
							<li>
								<span data-bind="text: message"></span>
								<br>
								<span data-bind="text: detail" class="text-muted"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row" data-bind="visible: notices().length > 0">
				<div class="col-lg-offset-2 col-lg-7">
					<div class="col-lg-2">
						<strong>Notices</strong>
					</div>
					<div class="col-lg-8 text-info">
						<ul data-bind="foreach: notices">
							<li>
								<span data-bind="text: message"></span>
								<br>
								<span data-bind="text: detail" class="text-muted"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /results -->
	</div>
	<!-- /container -->
	<!-- footer -->
	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<p class="navbar-text">
				Built by <a href="http://www.travelingtechguy.com" target="_blank" class="navbar-link">Traveling Tech Guy</a><br>
				<a href="https://github.com/TravelingTechGuy/joblint" target="_blank" class="navbar-link">Fork this on GitHub</a><br>
				<small class="text-muted"><a href="https://github.com/rowanmanning/joblint" target="_blank" class="navbar-link">(using Rowan Manning's JobLint module)</a></small>
			</p>
		</div>
	</div>
	<!-- /footer -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-2323990-9', 'heroku.com');
		ga('send', 'pageview');
	</script>
	<script data-main="/javascripts/main" src="/javascripts/vendors/require.js"></script>
</body>
</html>